{{>partials/header}}
<link rel="stylesheet" href="/css/historia.css">
  <section class="default dark">
        <div class="section-title">NOSSO <span>RESTAURANTE</spam></div>
        <div class="section-desc">NOSSA SATISFAÇÃO É VOCÊ DE BARRIGA CHEIA</div>
        <div class="section-body">
            <div class="section-facts">
                <div class="section-fact">
                    <h3>01</h3>
                    <div class="section-fact-line"></div>
                    <h4>O RESTAURANTE</h4>
                    <p>Nosso restaurante foi criado para o público geral. Um lugar para conhecer e consumir de um jeito fácil e descomplicado. Foi com este espírito que o restaurante nasceu, e nos dedicamos para entregar tudo com qualidade e muito carinho para nossos clientes.</p>
                </div>
                <div class="section-fact">
                    <h3>02</h3>
                    <div class="section-fact-line"></div>
                    <h4>AMBIENTE</h4>
                    <p>As receitas que saem de nossa cozinha são preparadas com ingredientes frescos e de altíssima qualidade. Trazem sabor único à sua comemoração em família, ao date com o crush, almoço com o pessoal do trabalho, happy hour com os amigos e muitas outras ocasiões.</p>
                </div>
                <div class="section-fact">
                    <h3>03</h3>
                    <div class="section-fact-line"></div>
                    <h4>QUALIDADE</h4>
                    <p>Nós garantimos um padrão de qualidade fantástico. Oferecemos vários tipos de bebidas e de sobremesas, pois sabemos que não há satisfação melhor do que estar de barriga cheia.</p>
                </div>
            </div>
        </div>
    </section>
 <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/scripts/scripts.js"></script>
</body>
{{>partials/footer}}