{{>partials/header}}
<html>
<main>
    <section class="banner">
        <div class="sliders" style="margin-left:0;">
            <div class="slide">
                <div class="slidearea">
                    <h1>Cardápio<br/></h1>
                    <a href="cardapio" class="button">Clique aqui!</a>
                </div>
    </section>

    
    <div class="container_column">
        <div class="banner_headline222">
            <h1>ONDE ENCONTRAR</h1>
        </div>
        <div class="banner_options">
        <div class="boxsomb">
            <div class="banner1">
                <div class="banner_title">Sao Paulo</div>
                <div class="banner_desc">Rua da Glória, 498 - Sao Paulo - SP</div>
                <a href="https://www.google.com/maps/place/S%C3%A3o+Paulo,+SP,+Brasil/@-23.6815315,-46.875489,10z/data=!3m1!4b1!4m5!3m4!1s0x94ce448183a461d1:0x9ba94b08ff335bae!8m2!3d-23.5557714!4d-46.6395571"><img src="/images/gmaps.png"></a>
            </div>
            <div class="banner2">
                <div class="banner_title">Belo Horizonte</div>
                <div class="banner_desc">Av.Gávea, 680 - Belo Horizonte - MG</div>
                <a href="https://www.google.com/maps/place/Belo+Horizonte,+MG,+Brasil/@-19.9023386,-44.1041357,11z/data=!4m5!3m4!1s0xa690cacacf2c33:0x5b35795e3ad23997!8m2!3d-19.919052!4d-43.9386685"><img src="/images/gmaps.png"></a>
            </div>
            <div class="banner3">
                <div class="banner_title">Rio de Janeiro</div><br>
                <div class="banner_desc">Rua Gama, 524 - Rio de Janeiro - RJ </div>
                <a href="https://www.google.com/maps/place/Rio+de+Janeiro,+RJ,+Brasil/@-22.9132525,-43.7261722,10z/data=!3m1!4b1!4m5!3m4!1s0x9bde559108a05b:0x50dc426c672fd24e!8m2!3d-22.9068467!4d-43.1728965"><img src="/images/gmaps.png"></a>
            </div>
        </div>
        </div>
    </div>


</main>
{{>partials/footer}}