<footer>
        <div class="footer--area">
            
            <div class="footer--item area2">
                Copyright &copy; TI-102 2022
            </div>
            
            </div>
        </div>
    </footer>
</body>
</html>